<ng-container>
    <div #works class="container">
        <div class="title-description">
            <h2 class="bold-text">Works</h2>
        </div>
    </div>

    <div class="works-overview">
        <div class="works-bg">
        </div>
        <div class="container d-flex justify-content-between">
            <div class="perspective-item">
                <div #workImage class="work-image d-flex">
                    <div #imageWrapper class="work-image-wrapper d-flex" [ngStyle]="{'width' : width + 'px'}">
                        <img *ngFor="let work of worksEnglish" [src]="work.image" alt="">
                    </div>
                </div>
            </div>
            <div class="works-description">
                <div class="prev" (click)="prev(imageWrapper, workImage)"><i class="bi bi-arrow-left-square"></i></div>
                    <div class="works-description-inner d-flex">
                        <div #descriptionSlider class="work-descr-slider d-flex">
                            <div class="work-description-wrapper">
                                <h2 class="work-title white-text">{{ worksEnglish[activeCounter].textContent.title }}</h2>
                                <div class="dev-logos white-text mt-3 d-flex"><i *ngFor="let icon of devIcons[activeCounter]" [class]="icon + ' ' + 'mr-2'"></i></div>
                                <p class="white-text">{{ worksEnglish[activeCounter].textContent.description }}</p>
                            </div>
                            <a [href]="worksEnglish[activeCounter].link" target="_blank">
                                <i class="bi bi-window-plus"></i>
                            </a>
                        </div>
                    </div>
                <div class="next" (click)="next(imageWrapper, workImage)"><i class="bi bi-arrow-right-square"></i></div>
            </div>
        </div>
    </div>
</ng-container>