<ng-container>
    <app-header></app-header>
    <div class="main-overview">
        <div class="container">
            <div class="about-block">
                <h1 class="bold-text">Mathias Michael Weiss</h1>
                <h2 class="blue-text bold-text">{{ position }}</h2>
                <p>
                    {{ about }}
                </p>
                <a href="mailto:mathiasmichaelweiss@gmail.com">
                    <button class="button long"> {{ button }} </button> 
                </a>
            </div>
        </div>
        <div class="photo"></div>
    </div>
</ng-container>
