<footer>
    <div class="container">
        <!-- <nav>
            <ul>
                <a routerLink="/experience">
                    <li> {{ navigation.experience }} </li>
                </a>
                <a routerLink="/skills">
                    <li> {{ navigation.skills }} </li>
                </a>
                <a routerLink="/education">
                    <li> {{ navigation.education }} </li>
                </a>
                <a routerLink="/works">
                    <li> {{ navigation.works }} </li>
                </a>
            </ul>
        </nav> -->
        <div class="social-media">
            <a href="https://www.linkedin.com/in/mathiasmweiss/" target="_blank">
                <i class="devicon-linkedin-plain gray-text"></i>
            </a>
        </div>
    </div>
</footer>
