@import "../../../../styles/utils/variables";

.education-overview {
    margin-bottom: $blocks-margin;
    padding-top: $blocks-margin;

    .container {
        height: 100%;
        position: relative;
        .title-description {
            padding-top: $tenPX * 6;
            margin-bottom: $tenPX * 6;
            position: relative;
            z-index: 90;
            width: 80%;
        }
    
        .education-items {
            display: grid;
            grid-template-columns: repeat(auto-fit, 435px);
            justify-content: center;
            grid-gap: $tenPX * 5;
            width: 100%;
            z-index: 90;
        }

        button {
            margin: 0 auto;
            margin-top: $tenPX * 6;
            margin-bottom: $tenPX * 6;
        }
    }

    .education-bg {
        position: absolute;
        height: $tenPX * 20;
        width: 100%;
        overflow: hidden;
        background-image: url(../../../../assets/images/experience-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $transparentDark;
        }
    }
}
